.App {
  text-align: center;
}

/* Reset some default styles */
body,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Style the navigation bar */
nav {
  background-color: #333;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

li {
  margin: 0 10px;
}

a {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  display: block;
  transition: color 0.3s ease;
}

a:hover {
  color: #66b2ff;
}

/* Style the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  font-size: 14px;
  padding: 12px 16px;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #444;
}

.dropdown:hover .dropdown-content {
  display: block;
}